.mobile_card_main_container {
  border: 1px solid rgba(255, 0, 0, 0);
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.mobile_card_main_container:hover {
  border: 1px solid #008bcf;
}
/*  */
.category_selected {
  width: 30%;
  border: 1px solid red;
  display: flex;
}
.sort_mobiles_select {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}
.sort_mobiles_select > p {
  font-size: 1rem;
}
.priceFilter {
  padding: 0 0.2rem;
}
/*  */
.mobile_card_img_desc {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.img_of_product {
  width: 33%;
  /* border: 1px solid black; */
}
.img_of_product > img {
  width: 100%;
  border-radius: 5px;
}
.desc_of_product {
  width: 62%;
  /* border: 1px solid rgb(0, 0, 0); */
  text-align: left;
}
.desc_of_product > p:nth-child(2) {
  color: rgb(128, 128, 128);
}
/*  */
.mobile_card_price_view_details {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* border: 1px solid red; */
}
.mobile_card_title {
  color: #008bcf;
  font-size: 1.3rem;
}
.mobilecard_view_details_button {
  border: none;
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background-color: #008bcf;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
}
/* MEDIA QUERY */
@media screen and (max-width: 1164px) and (min-width: 481px) {
  .mobile_card_main_container {
    flex-direction: column;
  }
  .mobile_card_img_desc {
    width: 100%;
  }
  .mobile_card_price_view_details {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 481px) {
  .mobile_card_main_container {
    flex-direction: column;
  }
  .mobile_card_img_desc {
    width: 100%;
    flex-direction: column;
  }
  .img_of_product {
    width: 100%;
  }
  .desc_of_product {
    width: 100%;
    text-align: center;
  }
  .mobile_card_price_view_details {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
