.prod-deets-main-container {
  padding: 2rem;
  width: 1000px;
  height: 750px;
  display: flex;
  gap: 2rem;
  text-align: center;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: auto;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #55e7e3 6%, #ffffff 14%, #ffffff 91%, #7ddd7d 95%);
}

.prod-deets-left-flex {
  padding: 5rem;
}
.prod-deets-right-flex {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 1rem; */
  background-color: #FF0000;
  background-color: #ffb1b1;
  background-image: linear-gradient(180deg, #ffb1b1 0%, #fff4cb 2%, #ffffff 4%, #ffffff 94%, #a7ff3c 100%);
  border-radius: 10px;
}

#direct-message-container {
  padding-top: 5rem;
}

#direct-message-container > textarea {
  font-size: 15px;
}
.virtical-line-btw {
  border: 1px solid;
  border-style: dashed;
}

@media only screen and (max-width: 720px) {
  .prod-deets-main-container {
    display: flex;
    flex-direction: column;
    width: 450px;
  }
}
